body {
    background-color: #111;
    margin: 0px;
    overflow: hidden;
}

html {
    background-color: #111;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -600px;
}